*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/example/seminariot3di/
/app/src/main/java/com/example/seminariot3di/Ej01Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej03Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej04Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej05Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej06_01Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej06_02Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej06_02Activity2.kt
/app/src/main/java/com/example/seminariot3di/Ej06_03Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej06_03Activity2.kt
/app/src/main/java/com/example/seminariot3di/Ej06_04Activity.kt
/app/src/main/java/com/example/seminariot3di/Ej06_04Activity2.kt
/app/src/main/java/com/example/seminariot3di/Ej06Activity.kt
/app/src/main/java/com/example/seminariot3di/MainActivity.kt
/app/src/androidTest/java/com/example/seminariot3di/
/app/src/test/java/com/example/seminariot3di/
/app/src/main/res/drawable/
/app/src/main/res/layout/
/app/src/main/res/layout/activity_ej01.xml
/app/src/main/res/layout/activity_ej03.xml
/app/src/main/res/layout/activity_ej04.xml
/app/src/main/res/layout/activity_ej05.xml
/app/src/main/res/layout/activity_ej06.xml
/app/src/main/res/layout/activity_ej0601.xml
/app/src/main/res/layout/activity_ej0602.xml
/app/src/main/res/layout/activity_ej06022.xml
/app/src/main/res/layout/activity_ej0603.xml
/app/src/main/res/layout/activity_ej06032.xml
/app/src/main/res/layout/activity_ej0604.xml
/app/src/main/res/layout/activity_ej06042.xml
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/values/
/app/src/main/res/values-night/
/app/src/main/res/xml/
/build.gradle.kts
/app/build.gradle.kts
/app/proguard-rules.pro
/gradle.properties
/gradle/wrapper/gradle-wrapper.properties
/gradle/libs.versions.toml
/local.properties
/settings.gradle.kts
